In [1]:
import numpy as np
import re
import datetime as dt
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.sql import exists

In [2]:
from flask import Flask, jsonify

In [3]:
engine = create_engine(f"postgresql+psycopg2://postgres:Zangetsu8217@localhost:5432/Stocks")
connection = engine.raw_connection()
cursor = connection.cursor()

In [4]:
session = Session(engine)
Base = automap_base()
Base.prepare(autoload_with = engine)

Create databases for all stocks

In [5]:
alb_stock = []
alb_stock_data = engine.execute("SELECT * FROM alb ")
for results in alb_stock_data:
   alb_stock.append(results)

In [6]:
gnenf_stock = []
alb_stock_data = engine.execute("SELECT * FROM gnenf ")
for results in alb_stock_data:
   gnenf_stock.append(results)

In [7]:
lac_stock = []
alb_stock_data = engine.execute("SELECT * FROM lac ")
for results in alb_stock_data:
   lac_stock.append(results)

In [8]:
lthm_stock = []
alb_stock_data = engine.execute("SELECT * FROM lthm ")
for results in alb_stock_data:
   lthm_stock.append(results)

In [9]:
malry_stock = []
alb_stock_data = engine.execute("SELECT * FROM malry ")
for results in alb_stock_data:
   malry_stock.append(results)

In [10]:
nio_stock = []
alb_stock_data = engine.execute("SELECT * FROM nio ")
for results in alb_stock_data:
   nio_stock.append(results)

In [11]:
pilbf_stock = []
alb_stock_data = engine.execute("SELECT * FROM pilbf ")
for results in alb_stock_data:
   pilbf_stock.append(results)

In [12]:
samsung_stock = []
alb_stock_data = engine.execute("SELECT * FROM samsung ")
for results in alb_stock_data:
   samsung_stock.append(results)

In [13]:
sgml_stock = []
alb_stock_data = engine.execute("SELECT * FROM sgml ")
for results in alb_stock_data:
   sgml_stock.append(results)

In [14]:
sqm_stock = []
alb_stock_data = engine.execute("SELECT * FROM sqm ")
for results in alb_stock_data:
   sqm_stock.append(results)

In [15]:
tsla_stock = []
alb_stock_data = engine.execute("SELECT * FROM tsla ")
for results in alb_stock_data:
   tsla_stock.append(results)

In [16]:
#headers for the DATAFRAMES
headers_list = []
headers_data = engine.execute("SELECT column_name from information_schema.columns WHERE table_schema = 'public' and table_name = 'alb'")
for record in headers_data:
    headers_list.append(record[0])
headers_list

['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']

In [44]:
alb_Stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [34]:
gnenf_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [35]:
lac_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [36]:
lthm_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [37]:
malry_stock = pd.DataFrame(data = alb_stock, columns = headers_list )

In [38]:
nio_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [39]:
pilbf_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [40]:
samsung_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [41]:
sgml_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [42]:
sqm_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [43]:
tsla_stock = pd.DataFrame(data = alb_stock, columns =headers_list )

In [28]:
#output files in JSON format

In [46]:
stock_list = [alb_Stock, gnenf_stock,lac_stock, lthm_stock, malry_stock, nio_stock, pilbf_stock, samsung_stock,sgml_stock, sqm_stock, tsla_stock]
stock_list

[            date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns],
             date        open        high         low       close   adj_close  \
 0     2010-01-04   36.910000   38.240002   36.900002   38.090000   31.557341
 1     2010-01-05   38.700001   38.700001   37.599998   38.020000   31.499357
 2     2010-01-06   37.959999   38.480000   37.889999   38.090000   31.557341
 3     2010-01-07   38.029999   38.169998   37.799999   37.820000   31.333658
 4     2010-01-08   37.660000   38.570000   37.660000   38.389999   31.805899
 ...          ...         ...         ...         ...         ...         ...
 3380  2023-06-08  218.800003  220.550003  216.339996  219.619995  219.619995
 3381  2023-06-09  220.050003  222.830002  218.360001  220.500000  220.500000
 3382  2023-06-12  220.169998  220.570007  217.100006  218.550003  218.550003
 3383  2023-06-13  220.850006  229.580002  219.539993  228.850006  228.850006
 3384  2023-06-14  231.300003  233.740005  225.009995  226.800003  226.800003

          volume
 0      712900.0
 1      398900.0
 2      717200.0
 3      603700.0
 4      759000.0
 ...         ...
 3380  1609700.0
 3381  1492600.0
 3382  1478700.0
 3383  2178500.0
 3384  1942700.0

 [3385 rows x 7 columns]]

In [47]:
json_output = "Stock/alb_Stock.json"
output = alb_df.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/gnenf_stock.json"
output = gnenf_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/lac_stock.json"
output = lac_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/lthm_stock.json"
output = lthm_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/malry_stock.json"
output = malry_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/nio_stock.json"
output = nio_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/pilbf_stock.json"
output = pilbf_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/samsung_stock.json"
output = samsung_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/sgml_stock.json"
output = sgml_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/sqm_stock.json"
output = sqm_stock.to_json(json_output, indent =1, orient = 'records')

json_output = "Stock/TSLA_Stocks.json"
output = tsla_stock.to_json(json_output, indent =1, orient = 'records')